body {
  height: 100vh;
  margin: 0; /* Remove default margin */
  background: linear-gradient(to bottom, #27232b, #090910) fixed;
  background-repeat: no-repeat;
}

@keyframes fadee {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.logo, .chat-history, .utils{
  opacity: 0;
  transition: opacity 0.7s ease-in-out, visibility 1s ease-in-out;

  animation-name: fadee;
  animation-duration: 2s;
  visibility: hidden;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.logo img{
  width: 160px;
  z-index: 1;
}


.error-window {
  visibility: hidden;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1002;
  opacity: 0;
  transition: opacity 0.7s ease-in-out, visibility 1s ease-in-out;
  }
  .error-window.show {
  visibility: visible;
  opacity: 1;
  }


.chat-history{
  padding: 10px;
  /* margin-top: 20px; */
}

.text-response, .image-response{
  text-align: left;
  color: white;
  font-size: 1rem;
  max-width: 800px;
  margin-top: 20px;
  z-index: 2;
  position: relative;
  backdrop-filter: blur(3px);
}
.image-response img{
  border-radius: 20px;
  max-width: 400px;
}
.text-user{
  text-align: left;
  font-size: 1rem;
  max-width: 600px;
  width: auto;
  color: white;
  border-radius: 15px;
  padding: 10px;
  background-color: #3b3740;
  margin-left: auto;
  margin-top: 20px;
  z-index: 2;
  position: relative;
}

pre {
  border-radius: 20px;
  border: #1a1a1a solid 3px;
}


.code-block-wrapper {
  position: relative;
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #27232b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

.copy-btn:hover {
  background-color: #090910;
}

.copy-btn:focus {
  outline: none;
}


.utils {
  background-color: rgb(37, 29, 43);
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px;

}
#settings{
  background-color: rgb(37, 29, 43);
  padding: 10px 12px;
  color: rgb(141, 223, 165);
  border: none;
  font-size: 17px;
}


#promptInput {
  background-color: rgb(37 29 43);
  color: #ffffff;
  padding: 8px 0px;
  font-size: 16px;
  outline: none;
  border: none;
  width: 100%;
  height: auto;

  box-sizing: border-box;
  line-height: 22px; /* Adjust according to the font size */
  min-height: 22px; /* Minimum height for 1 row */
  max-height: 242px; /* Maximum height for 11 rows (22px per row * 11 rows) */
  resize: none; /* Prevents resizing */
  overflow: hidden;

  overflow-y: auto; /* Show vertical scrollbar when needed */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
#promptInput::placeholder {color: #8a8a8a;}

#send {
  background-color: rgb(72, 68, 76);
  padding: 10px 12px;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 15px;
}


.settings {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(46 45 65);
  padding: 20px;
  z-index: 1001;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.overlay.show,
.settings.show {
  visibility: visible;
  opacity: 1;
}

.closeSettings {
  border-radius: 10px;
  border: none;
  background-color: rgb(80, 79, 107);
  padding: 10px;
  margin: 0px 30%;
  color: white;
  width: 85px;
}


#modelInput {
  width: 227px;
  height: 34px;
  border-radius: 5px;

  background-color: #252d47;
  color: #bdbdbd;
  border: 2px solid #3f4d7a;
  border-radius: 5px;
  margin-bottom: 35px;
  font-size: 15px;
}

#modelInput option {
  color: #FFFFFF;
  background-color: #262645;
}

#modelInput option:hover {
  background-color: #212121;
}

#apiKeyInput{
  width: 227px;
  height: 34px;
  color: #b0b0b0;
  margin-bottom: 35px;
  font-size: 15px;

  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
#apiKeyInput:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 10px 10px 50px #969696, -10px -10px 50px #ffffff;
}

#apiKeyInput::placeholder{
  color: #bdbdbd;
}



/* The entire scrollbar */
#promptInput::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* The draggable part of the scrollbar */
#promptInput::-webkit-scrollbar-thumb {
  background-color: #757575; /* Color of the draggable part */
  border-radius: 6px; /* Rounds the corners of the draggable part */
}

/* The part of the scrollbar not being dragged */
#promptInput::-webkit-scrollbar-track {
  background-color: #9c9c9c; /* Color of the track */
  border-radius: 6px; /* Rounds the corners of the track */
}

/* The part of the scrollbar when you hover */
#promptInput::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering over the scrollbar */
}

/* From Uiverse.io by ZacharyCrespin */ 
#loading {
  --size: 14px;
  --color: white;
  width: 30px;
  height: 30px;
  position: relative;
  margin-top: 5px;
  display: none;
  margin-right: 10px;
}

#loading::after,#loading::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--color);
  box-shadow: 0 0 calc(var(--size) / 3) rgba(0, 0, 0, 0.25);
}

#loading::after {
  background: var(--color);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%, 100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%, 100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}